<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static%20css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div th:text="'textas'"></div>
</div>>
</body>
</html>