<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static%20css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="allTasks" type="java.util.List<praktika.tasks.dataStructures.Task>"*/-->
    <div>

            <h1 th:text="${task.name}">Name</h1><br/>
                <h2 th:text="${task.type}"></h2><br/>
                <div th:text="${task.id}"></div><br/>
                <div th:text="${task.startTime}"></div><br/>
                <div th:text="${task.duration}"></div><br/>
                <div th:text="${task.location}"></div><br/>
    </div>

</div>>
</body>
</html>