<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static%20css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="allTasks" type="java.util.List<praktika.tasks.dataStructures.Task>"*/-->
    <div class="task-list-table">
        <table>
            <tr>
                <th th:text="#{task.id}"></th>
                <th th:text="#{task.name}"></th>
                <th th:text="#{task.type}"></th>

            </tr>
            <tr th:each="task : ${allTasks}">

                <td th:text="${{task.id}}">id</td>
                <td>
                    <a th:text="${task.name}" th:href="@{/tasks/{id}(id=${task.id})}">as</a>
                </td>
                <td th:text="${task.type}">type</td>
            </tr>
        </table>
    </div>

</div>>
</body>
</html>