<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static%20css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="new-task-link">
        <a th:href="@{/tasks/createNewTask}" th:text="#{home.newTask}">new task link</a>
    </div>
    <div class="task-list-link">
        <a th:href="@{/tasks/taskList}" th:text="#{home.taskList}">task list link</a>
    </div>
</div>>
</body>
</html>